on:
  schedule:
    - cron: '0 12 * * *' # Runs every day at noon

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: setup python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run python script
      env:
        STREAM_URL: ${{ secrets.STREAM_URL }}
      run: |
        python Screenshot.py
    
    - name: Commit and push screenshots
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add screenshots/*.png
        git diff --staged --quiet || git commit -m "Add screenshots from $(date +'%Y-%m-%d %H:%M:%S')"
        git push